.dashboard{
    border-radius: 20px;
    background: #4f5d75;
    padding: 0px;
}

.dashboard-header{
    border-top: #ea8220 3px solid;
    background:#efefef;
    border-radius: 20px;
    padding: 20px;
    margin-top: 0px;
}

.dashboard-content{
    margin: 10px auto;
}

.dashboard-content > button{
    margin-bottom: 10px;
}


.selectie{
    min-width: 100% !important; 
}

.header input[type="radio"] {
  display: none;
}

.header label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-size: 16px;
  cursor: pointer;
}


th:hover {
    background:#efefef;
    cursor:pointer;
}

table:hover{
    cursor: pointer;
}

.header input[type="radio"]:checked{
    background: black;
}

:checked + span {
    color:#ea8220;
}

.row-padding {
    margin-top: 25px;
    margin-bottom: 25px;
}
