.loginscherm{
   margin-top: 50px;
    margin-bottom: 50px;
    background-color:#efefef;
   padding-top: 10px;
   border-top:5px solid #ea8220;
   border-radius: 10px;

}
.loginscherm>div{
    margin-left:auto;
    margin-right:auto;

}
.login{
    margin-top:30px;
}
.login > .input-group{
  margin-bottom:10px;
}
.login > p{
  padding:5px;
}

.bevestig{
    margin-top:10px;
    padding: auto;
}

.align-right{
    float:right;
}

.padding-top{
    margin-top:5px;
}
.sub-text-register{
  margin-top:10px;
  text-align:center;
}
.row-fix{
  width:calc(100% - 39px);
  border-radius: 4px;
  margin-bottom:15px;
  margin-top:-5px;
  margin-left:39px;
}
