.loginscherm{
   background-color:#efefef;
   padding-top: 2px;
   border-top:5px solid #ea8220;
   border-radius: 10px;

}
.loginscherm>div{
    margin-left:auto;
    margin-right:auto;

}
.login{
    margin-top:30px;
}
.login > .input-group{
  margin-bottom:10px;
}
.login > p{
  padding:5px;
}

.bevestig{
    margin-top:10px;
    padding: auto;
}

.align-right{
    float:right;
}

.padding-top{
    margin-top:5px;
}
.sub-text-register{
  margin-top:10px;
  text-align:center;
}
