.user {
  margin-bottom: 10px;
}
.user > img {
 width: 200px;
 height: 200px;
}
.user > button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-content{
  border-top:5px solid #ea8220;
  background:#efefef;
  border-radius: 20px;
  padding: 20px;
}

.pflijn{
  border: 1.5px solid;
  border-radius: 4px;
  padding: 3px;
  border-color: #efefef;
}
.profile_picture{
  width:100%;
  padding-bottom:calc(100% - 10px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius:50%;
  border:5px solid #EFEFEF;
  cursor:pointer;
}

.biografietext{
  min-height: 200px;
}
.notifcation-fix{
  margin-left:15px;
  margin-right:15px;
  padding:5px;

}
.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}
