body {
  padding-top: 90px;
  background-color:#efefef;
}
.header-style{
  background-color:#5484a4;
  border-bottom:#4f5d75 1px solid;
  height:90px;
}
.navbar-header{
}
.header-navbar{
    float:right !important;
    margin-right:15px;
}
.header-navbar > li.active > a {
    color: #fff !important;
    background-color: #ea8220 !important;
}
.header-navbar > li > a {
    color: #fff !important;
    height:90px !important;
    min-width:120px !important;
    text-align:center;
    padding:0px 15px !important;
    font-size:16px;
    line-height:90px;
}
.navbar-brand{
  color:#fff !important;
  height:auto !important;
  line-height:90px;
  padding:0px 10px !important;
  font-size:20px;
}
.navbar-brand > img{
  float:left;
  padding:5px;
  border-bottom:2px solid white;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.grey{
  color: #efefef;
}
.orange{
  color:#ea8220;
}
.niagara{
  color:#5484a4;
}
.darkblue{
  color: #023042;
}
.denim{
  color: #4f5d75;
}
.sidebar{
  margin-top:25px !important;
  background-color: #dfdfdf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.sidebar > .menubar{
  padding-bottom:15px;
}
.sidebar > .menubar > li{
  list-style-type: none;
  padding-left:5px;
  border-left:2px solid transparent;
  margin-left:-40px;
}
.sidebar > .menubar > li:hover{
  border-left:2px solid #ea8220;
}
.sidebar > .menubar > li > a{
  font-size:16px;
}
.sidebar > .menubar > li > a:hover{
  text-decoration: none;
}
.sidebar > .menubar > li > .sub > li{
  list-style-type: none;
}
.content_col{
  padding-left:50px;
  padding-right:50px;
}
.content_col > .navigation-row{
  margin-top:25px;

}
.content_col > .navigation-row > p{
  font-size:16px;
}
.content_col > .navigation-row > p > a{
  color:#4f5d75;
}
.content_col > .navigation-row > p > a:hover{
  color:#023042;
  text-decoration: none;
}
.page-navigation {
  margin-top:25px;
}
.page-navigation > p{
  text-align:center;

}
.page-navigation > p > i{
  font-style:normal;
  margin-left:5px;
  margin-right:5px;
  cursor:pointer;
}
.page-navigation > p > i.circle{
  padding:5px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-color:#DFDFDF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.page-navigation > p > i.circle.selected{
  background-color:#5484a4;
  color:#efefef;
}
.remove-margin{
    margin-left:-15px;
    margin-right:-15px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.item-card{
  border:1px solid #DFDFDF;
  padding:5px;
  margin-left:-15px;
  margin-right:-15px;
}
.item-card > h2{
  margin-top:0px;
}
.item-card > div > div > div > img{
  width:100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.group-right{
  text-align:right;
}
.btn-orange {
    color: #fff;
    background-color: #ea8220;
    border-color: #ea8220;
}
.btn-orange:hover {
    color: #fff;
    background-color: #ea8220;
    border-color: #ea8220;
}
.btn-orange:active {
    color: #fff;
}
.btn-orange:focus {
    color: #fff;
}
.btn-niagara {
    color: #fff;
    background-color: #5484a4;
    border-color: #5484a4;
}
.btn-niagara:hover {
    color: #fff;
    background-color: #5484a4;
    border-color: #5484a4;
}
.btn-niagara:active {
    color: #fff;
}
.btn-niagara:focus {
    color: #fff;
}
.card-options > button{
  margin-top:5px;
  font-size:18px;
}
.auction-hammer{
  margin-top:-5px;
  width:27px;
  height:27px;
}
